flow_4.json
[
    {
        "id": "772181fd37b5f8d0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb1bbbe8d849cb79",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da3f7bf2d06eefe3",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "09906a7aabdc4d66",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bf859b45acb27af1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6cb2800a76d8df5b",
        "type": "ui_tab",
        "name": "Hora",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "752b5fc27d4ac0df",
        "type": "ui_group",
        "name": "Hora",
        "tab": "6cb2800a76d8df5b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4afa8188e775ef5",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "2d0fe45ebbb37b94",
        "type": "ui_tab",
        "name": "Flow3 G7 - tab",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0c23c0b7ccd22126",
        "type": "ui_group",
        "name": "Texto - Group 1",
        "tab": "2d0fe45ebbb37b94",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24be17dbee45dd4b",
        "type": "ui_group",
        "name": "Graficos - Group 2",
        "tab": "2d0fe45ebbb37b94",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "957d4d885b0b7850",
        "type": "mqtt-broker",
        "name": "Broker HiveMQ G7",
        "broker": "35.157.61.99",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "31dfa0ea7a435494",
        "type": "ui_tab",
        "name": "Flow4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9c301e170ff2cc33",
        "type": "ui_group",
        "name": "Grupo grafica",
        "tab": "31dfa0ea7a435494",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f5eb09f428d6b31",
        "type": "inject",
        "z": "772181fd37b5f8d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "480cbf9cb4d4620b"
            ]
        ]
    },
    {
        "id": "480cbf9cb4d4620b",
        "type": "debug",
        "z": "772181fd37b5f8d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "6f1146e2156ad46f",
        "type": "inject",
        "z": "bb1bbbe8d849cb79",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "g7",
                "v": "hola G7",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "df9251027a8e7891",
                "3c4d12b71e84403a"
            ]
        ]
    },
    {
        "id": "6a8b10db81375e59",
        "type": "debug",
        "z": "bb1bbbe8d849cb79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "df9251027a8e7891",
        "type": "function",
        "z": "bb1bbbe8d849cb79",
        "name": "",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 220,
        "wires": [
            [
                "6a8b10db81375e59",
                "061d8bdbab6bd702"
            ]
        ]
    },
    {
        "id": "061d8bdbab6bd702",
        "type": "ui_text",
        "z": "bb1bbbe8d849cb79",
        "group": "752b5fc27d4ac0df",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "La hora es:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "3c4d12b71e84403a",
        "type": "debug",
        "z": "bb1bbbe8d849cb79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "db10e77293c230a4",
        "type": "inject",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Texto de prueba para el grupo 7",
        "payloadType": "str",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "faa76ac3acf697f5"
            ]
        ]
    },
    {
        "id": "dfd7c65335f5d63a",
        "type": "inject",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "fb681766fa5cba87",
                "96404baf9b42f5e8"
            ]
        ]
    },
    {
        "id": "4fdfc6e8205453ef",
        "type": "inject",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "fb681766fa5cba87",
                "96404baf9b42f5e8"
            ]
        ]
    },
    {
        "id": "eb92d28a5ba4bf38",
        "type": "inject",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "fb681766fa5cba87",
                "96404baf9b42f5e8"
            ]
        ]
    },
    {
        "id": "faa76ac3acf697f5",
        "type": "ui_text",
        "z": "da3f7bf2d06eefe3",
        "group": "0c23c0b7ccd22126",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto de prueba - label",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "fb681766fa5cba87",
        "type": "ui_gauge",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "group": "24be17dbee45dd4b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "96404baf9b42f5e8",
        "type": "ui_chart",
        "z": "da3f7bf2d06eefe3",
        "name": "",
        "group": "24be17dbee45dd4b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6d918ef0f32af52c",
        "type": "mqtt in",
        "z": "09906a7aabdc4d66",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/msg",
        "qos": "2",
        "datatype": "auto",
        "broker": "957d4d885b0b7850",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "af137a5fa78e62a7"
            ]
        ]
    },
    {
        "id": "af137a5fa78e62a7",
        "type": "json",
        "z": "09906a7aabdc4d66",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "a0b4af171a6f970b",
                "622102a5c00bb652"
            ]
        ]
    },
    {
        "id": "a0b4af171a6f970b",
        "type": "debug",
        "z": "09906a7aabdc4d66",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "622102a5c00bb652",
        "type": "function",
        "z": "09906a7aabdc4d66",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 200,
        "wires": [
            [
                "e0dd99e4acb2cd92"
            ]
        ]
    },
    {
        "id": "e0dd99e4acb2cd92",
        "type": "ui_chart",
        "z": "09906a7aabdc4d66",
        "name": "",
        "group": "9c301e170ff2cc33",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura de los alumnos",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "45",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cf2ce66d2b2381c9",
        "type": "inject",
        "z": "09906a7aabdc4d66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"Emilio\",\"temp\":22}",
        "payloadType": "str",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "6618611f2d75cfa9"
            ]
        ]
    },
    {
        "id": "6618611f2d75cfa9",
        "type": "mqtt out",
        "z": "09906a7aabdc4d66",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/msg",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "957d4d885b0b7850",
        "x": 600,
        "y": 400,
        "wires": []
    }
]